.container {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.pokemon-info {
    margin-top: 30px;
}

#pokemon-img {
    max-width: 200px;
    display: block;
    margin: 20px auto;
}

#pokemon-name {
    text-transform: capitalize;
}